body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: url('/images/radiant-sunshine-wallpaper-l-neutral.jpg')
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 2px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  
  .details {
    white-space: pre-wrap;
  }
  
  .timeBlock {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: whitesmoke;
    color: #000000;
    border-top: 1px dashed #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .past {
    background-color: gainsboro;
    color: white;
  }
  
  .present {
    background-color:indianred;
    color: white;
  }
  
  .future {
    background-color:darkseagreen;
    color: white;
  }
  
  .saveBtn {
    border-left: 2px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: darkcyan;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

/*on any screen 768px and bellow */
@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}